* {
  color: rgb(255, 255, 255);
  
}

body {
  background-color: #000;
}

.navbar {
  margin-bottom: 0;
  font-size: 1em;
  font-weight: bold;
}

.stock-img{
  height: 100%;
  width: 100%;
}

.screenshot {
  height: 400px;
  width: 100%;
  border: #fff;
  border-style: solid;
  border-width: 5px;
}

.home-cta {
  padding-left: 10%;
  padding-top: 10%;
}

.container {
  padding-top: 5%;
}

.upward-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  
    form {
      width: 100%;
  
      input {
        width: 100%;
        box-sizing: border-box;
        margin-top: 20px;
        outline: none;
        padding: 10px;
        line-height: 2;
        font-size: 16px;
      }
    }
  }
 
  button {
    background: linear-gradient(to right, #1abc9c, #337bbf);
    border-radius: 25px;
    height: 40px;
    width: 150px;
  }
  
  label {
    color: #000;
  }
  
  .login-contact {
    text-align: center;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    
  }
  
  .about-us {
    padding-bottom: 150px;
  }

  @media(max-width:692px) {
    .center-item {
      form {
        width: 60%;
      }
    }
  }
  
  @media(max-width:452px) {
    .center-item {
      form {
        width: 70%;
        padding: 25px;
  
        p {
          font-size: 14px;
        }
      }
    }
  }
  